// primaries
$primary-font: 'Montserrat';
$primary-colour: #3C4755;
$secondary-colour: 	#39404E;
$light-colour: #576766;

// forms and containers
$container-border: .5px solid silver;
$container-box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.21);
$hover-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.39);
$form-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.11);

// button variables
$button-colour: #02054a;
$hover-button-colour: #0a0082;
$button-box-shadow: -5px 3px 8px -3px rgba(0,0,0,0.68);

$order-takeout-button-font: 'Nixie One';
$order-takeout-button-box-shadow: -4px 4px 10px 3px rgba(0,0,0,0.48);

// other
$background-colour:  #FDFCFA;
$fun-font: 'Shadows Into Light Two';