// primaries
$background-white: #fdfcfa;
$primary-font: "Montserrat";
$primary-colour: #3c4755;
$secondary-colour: #39404e;
$lighter-colour: #899a99;
$light-colour: #576766;
$sunrise-red: #da231c;
$grey: #7f8081;
$safe-hover: #009900;

// forms and containers
$container-border: 0.5px solid silver;
$container-box-shadow: -5px 5px 12px -1px rgba(0, 0, 0, 0.21);
$hover-box-shadow: 0px 0px 11px -6px rgba(0, 0, 0, 0.39);
$form-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.11);

// button variables
$button-colour: #0a0082;
$button-box-shadow: -5px 3px 8px -3px rgba(0, 0, 0, 0.68);

$order-takeout-button-font: "Nixie One";
$order-takeout-button-box-shadow: -4px 4px 10px 3px rgba(0, 0, 0, 0.48);

// other
$cursive-font: "WindSong";

// Right Panel Buttons
@mixin right-panel-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  margin-top: 120px;
  margin-right: 65px;
  padding: 10px;
  background-color: $sunrise-red;
  color: white;
  font-weight: 400;
  font-size: 2vw;
  font-family: $primary-font;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  box-shadow: $button-box-shadow;
  transition: background-color 0.3s ease;

  @media (max-width: 1300px) {
    margin-top: 110px;
  }
  @media (max-width: 1200px) {
    margin-right: 40px;
    margin-top: 100px;
  }

  @media (max-width: 1000px) {
    margin-right: 20px;
    width: 10vw;
    padding: 10px;
  }

  @media (max-width: 899px) {
    display: none;
  }
}

@mixin page-back-nav-container {
  display: flex;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 20px;
}

@mixin back-btn {
  display: flex;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 600;
  color: silver;
  border: none;
  margin-right: 15px;
  padding: 0;
  cursor: pointer;
}

@mixin menu-sections-btn {
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: $primary-font;
  color: $primary-colour;
  background-color: #ffffff;
  cursor: pointer;
}

@mixin summary-conatiners {
  padding: 5px 30px;
  height: 100%;
  background-color: #ffffff;
  // border: $container-border;
  border-radius: 30px;
  box-shadow: $form-box-shadow;
}

@mixin close-button {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 25px;
  font-weight: 300;
  font-family: $primary-font;
  background: none;
  border: none;
  width: 35px;
  color: #333;
  opacity: 0.7;
}

@mixin close-button-hover {
  opacity: 1;
}

@mixin confirmation-button {
  font-size: calc(16px + 0.3vw);
  width: 120px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  // box-shadow: $button-box-shadow;
  background-color: green;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $primary-font;
}

@mixin safe-button-hover {
  background-color: $safe-hover;
  box-shadow: none;
}

@mixin danger-button-hover {
  background-color: red;
  box-shadow: none;
}