@import "variables";

.cart {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  margin-bottom: 0;
  margin-top: 120px;

  .order-navigation-container {
    @include page-back-nav-container;

    button.back-btn {
      @include back-btn;
      background-color: $background-white;
    }

    button.back-btn:hover {
      text-decoration: underline;
    }

    span {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  button.return-to-menu {
    @include right-panel-btn;
  }

  button.return-to-menu:hover {
    background-color: red;
    box-shadow: none;
  }

  .cart-items-heading {
    text-align: center;
  }

  .cart-page-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .cart-page-details {
    display: flex;
    p {
      margin-right: 30px;
      font-size: large;
    }
  }

  .cart-items-container {
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 2px;
    color: #41403e;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    @media (max-width: 899px) {
      border: none;
      background-color: $background-white;
    }
    
    .cart-items {
      flex-direction: column;
      margin: 30px 50px;
      padding: 0 5px;

      @media (max-width: 600px) {
        margin: 30px 5px;
        width: 100%;
      }
    }
  }

  .empty-cart-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    h2 {
      background-color: #e0e0e0;
    }
    .face-surprise {
      color: red;
    }
    h3 {
      width: 70%;
      font-weight: lighter;
      background-color: orange;
    }
  }
}
