.cart-page-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 150px;
  margin-bottom: 20px;
}
  .cart-page-details {
    display: flex;
    p {
      margin-right: 30px;
      font-size: large;
    }
}