@import "variables";

.cart-navbar {
  position: fixed;
  top: 0;
  margin-top: 90px;
  display: flex;
  align-items: center;
  width: 60%;
  height: 70px;
  background-color: $grey;

  @media (max-width: 1200px) {
    width: 65vw;
  }

  @media (max-width: 1000px) {
    width: 70vw;
  }

  @media (max-width: 899px) {
    width: 100vw;
  }
}