/* Cart.scss */
.cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-items {
  flex-direction: column;
  background-color: #e0e0e0;
  width: 40%; /* Adjust the width as needed */
  min-width: 30%; /* Adjust the min-width as needed */
  padding: 20px; /* Set padding for cart-items */
  margin: 0 30px;
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .remove-button {
      background-color: #ff0000;
      color: #fff;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #cc0000;
      }
    }
  }
}

.empty-cart {
  width: 40%; /* Adjust the width as needed */
  min-width: 30%; /* Adjust the min-width as needed */
  background-color: #e0e0e0;
  padding: 20px; /* Set padding for empty-cart */
  text-align: center;
  margin: 0 30px;
  p {
    padding: 10px;
    margin: 0;
  }
}

.order-form {
  flex: 1;
  background-color: #e0e0e0;
  padding: 20px; /* Set padding for order-form */
  width: 40%; /* Adjust the width as needed */
  margin-left: 30px; /* Increase left margin for spacing */
  margin-right: 30px; /* Increase right margin for spacing */
  .form-group {
    display: flex;
    flex-direction: column; /* Display labels and inputs in a column */
    margin-top: 10px; /* Add 10px top margin to labels */
    margin-bottom: 10px; /* Add 10px bottom margin to labels */
    padding-top: 10px;
    label {
      align-self: flex-start; /* Align labels to the left */
      padding-bottom: 10px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%; /* Take up the full width of the container */
      padding: 8px; /* Add some padding to the inputs */
      border: 1px solid #ccc; /* Add a border to inputs */
      background: none; /* Remove background for email input */
    }
  }
}
