.cart {
  display: flex;
  margin: 0 150px;
  .cart-items-heading {
    text-align: center;
  }
  
  .cart-items-container {
    margin-right: 100px;
    width: 60%;
    background-color: #f5f5f5;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    // box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    padding-top: 60px;
    color: #41403e;
    font-family: Neucha, sans-serif;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    
    .cart-items {
      flex-direction: column;
      
      .cart-item {
        // background-color: pink;
        font-family: cursive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .cart-item-quantity {
          font-family: Neucha, sans-serif;
          margin-left: 25px;
          padding: 5px 13px;
          font-size: x-large;
          font-weight: bold;
          background-color: white;
          border: 1px solid black;
        }


        .item-info {
          flex-grow: 1;
        }
      }
    }

    button {
      background-color: #ff0000;
      color: #fff;
      width: 2.5vw;
      height: 2.5vw;
      margin: 0 2px;
      cursor: pointer;
      border: 2px solid white;
      font-size: larger;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #cc0000;
      }
    }
  }

  .empty-cart-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    h2 {
      background-color: #e0e0e0;
    }
    .face-surprise {
      color: red;
    }
    h3 {
      width: 70%;
      font-weight: lighter;
      background-color: orange;
    }
  }

  .order-form {
    // flex: 1;
    background-color: #303030;
    color: white;
    padding: 50px;
    margin-top: 30px;
    height: 100%;
    width: 25%;

   h1 {
      text-align: center;
      padding-bottom: 10px;
      font-weight: lighter;
      font-size: x-large;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      label {
        padding: 10px 0;
      }
      input[type="text"] {
        height: 5vh;
        font-size: large;
        padding-left: 5px;
      }
      textarea {
        cursor: default;
        background-color: white;
        height: 15vh;
      }
      input#email {
        cursor: default;
        outline: none;
        border: none;
        background-color: transparent;
      }
    }
    .order-notice {
      color: red;
      font-size: larger;
    }
    .radio-group {
      margin-bottom: 20px;
      margin-top: 5px;
      label {
        margin: 20px 0;
      }
    }
    button[type="submit"] {
      margin: 20px 0;
      padding: 40px;
      font-size: 2rem;
    }
    .order-details-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .order-details {
        font-weight: lighter;
      }
    }
  }

  /* Styles for the "Place Order" button */

  .place-order-button {
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .place-order-button:focus {
    outline: 0;
  }

  .place-order-button:after {
    content: "";
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }

  .place-order-button:hover:after {
    bottom: 2px;
    left: 2px;
  }

  @media (min-width: 768px) {
    .place-order-button {
      padding: 0.75rem 3rem;
      font-size: 1.25rem;
    }
  }
}
