@import "variables";

.checkout {
  .checkout-navigation-container {
    display: flex;
    font-weight: 600;

    button {
      font-family: $primary-font;
      font-size: 14px;
      font-weight: 600;
      color: silver;
      border: none;
      background-color: $background-colour;
      margin-right: 15px;
      padding: 0;
      cursor: pointer;
    }

    button:hover {
      text-decoration: underline;
    }

    span {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  ul {
    padding: 0;

    .item-quantity {
      margin-right: 20px;
      font-weight: 400;
      // width: 15px; // Some numbers are wider than others, pushing the item-info
      // background-color: pink;
    }

    .item-info {
      display: flex;
      width: 60%;
      // background-color: yellow;
    }
  }
}
