@import "variables";

.checkout {
  padding-top: 40px;
  margin-bottom: 0;
  background-color: white;

  .checkout-navigation-container {
    display: flex;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 20px;

    button {
      font-family: $primary-font;
      font-size: 14px;
      font-weight: 600;
      color: silver;
      border: none;
      background-color: white;
      margin-right: 15px;
      padding: 0;
      cursor: pointer;
    }

    button:hover {
      text-decoration: underline;
    }

    span {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  .receipt-and-form-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0 20px;
    padding-bottom: 50px;

    // Customer Info section of checkout form: items, price, subtotal
    .order-summary {
      padding: 5px 30px;
      height: 100%;
      width: 35%;
      background-color: #ffffff;
      border: $container-border;
      border-radius: 30px;
      box-shadow: $form-box-shadow;
      margin-top: 50px;

      ul {
        padding: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #333;
        margin-bottom: 0;

        li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 12px;

          .items {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 10px;

            .item-info {
              width: 85%;
              margin-right: 15px;
            }
            .item-price {
              width: 10%;
              margin-left: 5px;
            }
          }
        }
      }

      .subtotal {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 600;
        margin-top: 15px;
      }
    }

    // Checkout section of checkout form: Subtotal, HST, GST, total
    .payment-summary {
      padding: 5px 30px;
      height: 100%;
      background-color: #ffffff;
      // border: $container-border;
      margin-top: 20px;
      border-radius: 30px;
      box-shadow: $form-box-shadow;
      
      .total {
        font-weight: 800;
      }

      // Pay Now button
      button {
        background-color: $button-colour;
        color: silver;
        font-family: $primary-font;
        font-weight: 200;
        font-size: 16px;
        padding: 10px;
        border: 1px solid silver;
        border-radius: 10px;
        box-shadow: $button-box-shadow;
        cursor: pointer;
        margin-bottom: 10px;
      }
      button:hover {
        background-color: $hover-button-colour;
        box-shadow: none;
      }
    }

    .form-container {
      padding-right: 15px;
      margin-right: 20px;

      .order-form {
        p {
          font-weight: 600;
          padding: 0;
          margin-bottom: 10px;
          margin-top: 25px;
        }
        input {
          width: 100%;
          height: 30px;
          border: 0.5px solid blue;
          background-color: #ffffff;
          border-radius: 7px;
          padding: 7px;
          font-size: 18px;
        }
        input::placeholder {
          background-color: #ededed;
          color: #ededed;
        }
        input:hover {
          box-shadow: $hover-box-shadow;
        }
        label {
          display: block;
          font-size: 12px;
          margin-bottom: 15px;
          margin-top: 2px;
        }
        textarea {
          width: 100%;
          border: 0.5px solid blue;
          border-radius: 7px;
          padding: 7px;
          // border: $container-border;
        }

        // Proceed to Payment button
        button {
          background-color: $button-colour;
          color: silver;
          font-family: $primary-font;
          font-weight: 200;
          font-size: 16px;
          padding: 10px;
          margin-top: 30px;
          border: 1px solid silver;
          border-radius: 10px;
          box-shadow: $button-box-shadow;
          cursor: pointer;
        }
        button:hover {
          background-color: $hover-button-colour;
          box-shadow: none;
        }
      }
    }

    .payment-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px 30px;
      padding-bottom: 30px;
      border: .5px solid silver;
      border-radius: 10px;
      box-shadow: $hover-box-shadow;
      margin-top: 20px;
    }
  }
}
