@import "variables";

.checkout {
  padding: 40px 0;
  margin-bottom: 0;
  background-color: #ffffff;

  .checkout-navigation-container {
    @include page-back-nav-container;

    button.back-btn {
      @include back-button;
      background-color: #ffffff;
    }

    button.back-btn:hover {
      text-decoration: underline;
    }

    span {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  .receipt-and-form-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0 20px;
    padding-bottom: 50px;

    @media (max-width: 899px) {
      display: block;
    }

    // Checkout section of checkout form: Subtotal, HST, GST, total
    .payment-summary {
      @include summary-conatiners;
      margin-top: 20px;

      .total {
        font-weight: 800;
      }

      // Pay Now button
      button {
        background-color: $button-colour;
        color: silver;
        font-family: $primary-font;
        font-weight: 200;
        font-size: 16px;
        padding: 10px;
        border: 1px solid silver;
        border-radius: 10px;
        box-shadow: $button-box-shadow;
        cursor: pointer;
        margin-bottom: 10px;
      }
      button:hover {
        background-color: blue;
        box-shadow: none;
      }
    }

    .form-container {
      padding-right: 15px;
      margin-right: 20px;

      .order-form {
        p {
          font-weight: 600;
          padding: 0;
          margin-bottom: 10px;
          margin-top: 25px;
        }
        input {
          width: 100%;
          height: 30px;
          border: 0.5px solid blue;
          background-color: #ffffff;
          border-radius: 7px;
          padding: 7px;
          font-size: 18px;
        }
        input::placeholder {
          background-color: #ededed;
          color: #ededed;
        }
        input:hover {
          box-shadow: $hover-box-shadow;
        }
        label {
          display: block;
          font-size: 12px;
          margin-bottom: 15px;
          margin-top: 2px;
        }
        textarea {
          width: 100%;
          border: 0.5px solid blue;
          border-radius: 7px;
          padding: 7px;
          // border: $container-border;
        }

        // Proceed to Payment button
        button {
          background-color: $button-colour;
          color: silver;
          font-family: $primary-font;
          font-weight: 200;
          font-size: 16px;
          padding: 10px;
          margin-top: 30px;
          border: 1px solid silver;
          border-radius: 10px;
          box-shadow: $button-box-shadow;
          cursor: pointer;
        }
        button:hover {
          background-color: blue;
          box-shadow: none;
        }
      }
    }

    .payment-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px 30px;
      padding-bottom: 30px;
      border: 0.5px solid silver;
      border-radius: 10px;
      box-shadow: $hover-box-shadow;
      margin-top: 20px;
    }
  }
}
