@import "variables";

.contact {
  display: flex;
  flex-direction: column;
  // color: white;

  button.menu {
    @include right-panel-btn;
  }

  button.menu:hover {
    background-color: red;
    box-shadow: none;
  }

  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section A of Contact Page: 
  Socials, Contact Info, Restaurant Hours
  /////////////////////////////////////////////////////////////////////////////////////////
  */

  // Socials Container: Website, Social Media Icons
  .socials-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;
    // margin-left: calc(5% - 5px);
    // background-color: $secondary-colour;
    // color: white;
    // border-radius: 50px;
    // padding: 0 5px;
    .social-icons {
      display: flex;
      align-items: center;
      img {
        width: 15px;
        padding: 0 4px;
      }
    }

    p.connect {
      // Connect With Us
      display: flex;
      justify-content: flex-end;
      text-transform: uppercase;
      font-size: 0.5rem;
      padding: 0;
      padding-right: 5px;
      margin: 0;
      @media (max-width: 400px) {
        font-size: 3vw;
      }
    }
    p.website-url {
      font-size: 0.5rem;
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
      margin: 8px 0;
      @media (max-width: 400px) {
        font-size: 3vw;
      }
    }
  }

  // Contact & Hours
  .restaurant-info-container {
    margin-left: 5%;
    margin-bottom: 20px;
    justify-content: center;
    width: 90%;
    .heading-container {
      width: 100%;
      background-color: $secondary-colour;
      margin-top: 10px;
      h4.restaurant-info-heading {
        display: flex;
        font-weight: 400;
        justify-content: flex-end;
        margin: 0;
        width: 20%;
        text-transform: uppercase;
        padding: 2px 0;
        color: white;
        @media (max-width: 400px) {
          font-size: 3vw;
        }
      }
    }

    .restaurant-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 15px;
      font-weight: 400;
      @media (max-width: 400px) {
        font-size: 3vw;
      }
      p.label {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 20%;
        margin: 0;
        padding-top: 10px;
      }
      p.info {
        font-weight: 400;
        width: 75%;
        margin: 0;
        padding-top: 10px;
      }
      #monday {
        color: $sunrise-red;
        font-weight: 600;
      }
    }
  }

  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section B of Contact Page: 
  Sunrise Shopping Plaza Heading, Location Images
  /////////////////////////////////////////////////////////////////////////////////////////
  */
  h2.shopping-centre {
    // "Located in the Sunrise Shopping Plaza"
    text-align: center;
    width: 90%;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5%;
    padding: 10px 0;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $secondary-colour;
    @media (max-width: 600px) {
      font-size: 5vw;
    }
  }

  .location-images {
    // Pho Sunrise Building and Map - Container
    display: flex;
    justify-content: space-between;
    .building-img {
      width: 50%;
      margin-left: 5%;
    }
    iframe {
      // Google Map Image
      width: 39%;
      margin-right: 5%;
    }
  }

  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section C of Contact Page: 
  Customer Reviews, Review Form
  /////////////////////////////////////////////////////////////////////////////////////////
  */

  .reviews-heading {
    // Heading for Customer Reviews
    background-color: $secondary-colour;
    color: white;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    @media (min-width: 899px) {
      padding: 20px 0;
    }
    @media (max-width: 600px) {
      font-size: 4.5vw;
      margin-top: 15px;
    }
  }

  .review-form-heading {
    // Heading for Review Form - Signed In and Signed Out
    text-align: center;
    background-color: $secondary-colour;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    width: 90%;
    margin-left: 5%;
    @media (min-width: 899px) {
      padding: 20px 0;
    }
    @media (max-width: 600px) {
      font-size: 4.5vw;
    }
  }

  .reviews-container {
    // Container for all reviews from customers
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 0;
    padding: 20px 0;
    background-color: white;
    border: $container-border;
    box-shadow: $container-box-shadow;
    width: 90%;
    margin-left: 5%;
    ul {
      padding: 0;
      margin: 0;
    }
    .user-image {
      display: flex;
      // align-self: center;
      height: 4rem;
      width: 4rem;
      border-radius: 100%;
      margin: 0 20px;
      margin-bottom: 20px;
      @media (max-width: 650px) {
        height: 3.5rem;
        width: 3.5rem;
        margin-left: 10px;
        margin-right: 10px;
      }
      @media (max-width: 500px) {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 5px;
      }
      @media (max-width: 310px) {
        height: 2rem;
        width: 2rem;
        margin-bottom: 20px;
      }
    }

    p.review-comment {
      display: flex;
      align-items: center;
      font-family: "Reenie Beanie";
      color: $primary-colour;
      max-width: 65%;
      word-wrap: break-word;
      overflow: hidden;
      font-size: 1.6rem;
      border-bottom: 1px solid #ccc;
      // background-color: pink;
      margin: 0;
      margin-bottom: 20px;
      margin-left: 10px;
      padding-bottom: 5px;
      @media (max-width: 650px) {
        font-size: 1.2rem;
        max-width: 65%;
      }
      @media (max-width: 500px) {
        font-size: 1rem;
        max-width: 55%;
        margin-bottom: 10px;
      }
    }

    .submitted-review-stars {
      color: gold;
      font-size: 0.8rem;
      border: none;
      margin: 0;
      margin-left: 5px;

      @media (max-width: 650px) {
        font-size: 0.5rem;
      }
    }
  }

  .review-form {
    // Review form including stars for rating
    // HTML in ReviewForm.js
    padding-bottom: 15px;
    color: $primary-colour;
    background-color: white;
    border: $container-border;
    box-shadow: $container-box-shadow;
    width: 90%;
    margin-left: 5%;

    p {
      font-size: 0.7rem;
    }
    textarea {
      width: 40vw;
      padding: 20px 10px;
      margin-bottom: 15px;
      margin-left: 20px;
      margin-top: 5px;
      font-size: 1rem;
      background-color: #ffffff;
      border: $container-border;
      @media (max-width: 600px) {
        width: 70vw;
      }
    }
    textarea:hover {
      box-shadow: $hover-box-shadow;
    }

    .star-rating-container {
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      margin-left: 20px;
      p {
        margin: 0;
      }
    }

    .star {
      font-size: 40px;
      margin-right: 5px;
      cursor: pointer;
      @media (max-width: 600px) {
        font-size: 30px;
      }
    }

    .star:hover {
      color: gold;
    }
    button {
      background-color: #333;
      color: white;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-family: $primary-font;
      margin-left: 20px;
    }
    button:hover {
      background-color: black;
    }
  }

  .logged-out-review-form {
    // ReviewForm when user is not logged in
    // Heading styled in class: .review-form-heading
    text-align: center;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
    color: $primary-colour;
    box-shadow: $form-box-shadow;
    .review-form-heading {
      margin: 0;
      width: 100%;
    }
    button.review-sign-in {
      // Sign in link in heading
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      color: white;
      border: none;
      background: none;
      cursor: pointer;
      margin: 0;
    }
    .review-sign-in:hover {
      text-decoration: underline;
    }
    p {
      // font-family: "WindSong";
      font-size: 20px;
      font-weight: 100;
      padding: 30px;
      margin: 0;
    }
  }

  .submitted-review {
    // Thank you message for submitting review
    // Option to delete review with button
    background-color: $secondary-colour;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 5%;
    @media (max-width: 400px) {
      font-size: .8rem;
    }

    p {
      margin: 0;
      padding-bottom: 10px;
    }

    // 'Thank You'
    span {
      font-size: 3.5rem;
      color: $sunrise-red;
      font-family: "WindSong";
      @media (max-width: 400px) {
        font-size: 1.5rem;
      }
    }
    .delete-review {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      font-size: 0.7rem;
      button {
        border: 2px solid #333;
        border-radius: 10px;
        background-color: red;
        color: white;
        padding: 5px;
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }

  .delete-review-confirmation {
    // Preview of user's review with option to delete or return
    text-align: start;
    color: black;
    padding: 30px 5%;
    border: 2px solid red;
    background-color: #ffcccb;
    margin-top: 25px;
    width: 80%;
    margin-left: 5%;
    @media (max-width: 500px) {
      font-size: .7rem;
    }

    h3 {
      margin: 0;
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 1.5rem;
      color: $sunrise-red;
      @media (max-width: 500px) {
        font-size: .7rem;
      }
    }
    .confirmation {
      display: flex;
      @media (max-width: 300px) {
        flex-direction: column;
      }
      .warning {
        color: red;
        padding-left: 10px;
        font-weight: 600;
        @media (max-width: 300px) {
          padding-left: 0;
        }
      }
    }
    button {
      font-size: 1.5rem;
      width: 120px;
      margin-right: 10px;
      margin-top: 10px;
      padding: 10px;
      border: 2px solid #333;
      border-radius: 5px;
      background-color: green;
      box-shadow: $button-box-shadow;
      color: white;
      cursor: pointer;
      @media (max-width: 500px) {
        font-size: .9rem;
        width: 80px;
      }
    }
    button.danger-btn {
      background-color: $sunrise-red;
    }
    button:hover {
      background-color: #009900;
      box-shadow: none;
    }
    button.danger-btn:hover {
      background-color: red;
    }
  }

  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section C of Contact Page: 
  Image & Book Reservation Banner
  /////////////////////////////////////////////////////////////////////////////////////////
  */

  .reservation {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5px;
    position: relative;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.9);
      font-weight: 100;
      font-size: 1.7rem;
      color: #333;
      text-transform: uppercase;
      width: 100%;
      height: 10vw;
      margin: 0;
      z-index: 1;
      @media (max-width: 580px) {
        font-size: 1.4rem;
      }
      @media (max-width: 460px) {
        font-size: 1rem;
        font-weight: 300;
      }
      @media (max-width: 350px) {
        font-size: .7rem;
        font-weight: 400;
      }
    }

    .plates-img {
      width: 100%;
      margin-top: 30px;
      @media (max-width: 400px) {
        margin-top: 15px;
      }
    }
  }
}
