@import "variables";

.contact {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section A of Contact Page: 
  Socials, Contact Info, Restaurant Hours
  /////////////////////////////////////////////////////////////////////////////////////////
  */

  // Socials Container: Website, Social Media Icons
  .socials-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    font-weight: 100;

    .social-icons {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        padding: 0 4px;
      }
    }

    p.connect {
      // Connect With Us
      display: flex;
      justify-content: flex-end;
      text-transform: uppercase;
      font-size: 0.7rem;
      padding: 0;
      padding-right: 10px;
      margin: 0;
    }
    p.website-url {
      font-size: 0.7rem;
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
    }
  }

  // Contact & Hours
  .restaurant-info-container {
    margin-left: 5%;
    margin-bottom: 20px;
    justify-content: center;
    width: 90%;
    .heading-container {
      width: 100%;
      background-color: $primary-colour;
      margin-top: 10px;
      h4.restaurant-info-heading {
        display: flex;
        font-weight: 400;
        justify-content: flex-end;
        margin: 0;
        width: 20%;
        text-transform: uppercase;
        padding: 2px 0;
      }
    }

    .restaurant-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 15px;
      font-weight: 100;
      p.label {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 20%;
        margin: 0;
        padding-top: 10px;
      }
      p.info {
        font-weight: 100;
        width: 75%;
        margin: 0;
        padding-top: 10px;
      }
      #monday {
        color: $sunrise-red;
        font-weight: 200;
      }
    }
  }

  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section B of Contact Page: 
  Sunrise Shopping Plaza Heading, Location Images
  /////////////////////////////////////////////////////////////////////////////////////////
  */
  h2.shopping-centre {
    // "Located in the Sunrise Shopping Plaza"
    background-color: $primary-colour;
    width: 90%;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5%;
    padding: 10px 0;
    color: white;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  .location-images {
    // Pho Sunrise Building and Map - Container
    display: flex;
    justify-content: space-between;
    .building-img {
      width: 50%;
      margin-left: 5%;
    }
    iframe {
      // Google Map Image
      width: 39%;
      margin-right: 5%;
    }
  }

  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section C of Contact Page: 
  Customer Reviews, Review Form
  /////////////////////////////////////////////////////////////////////////////////////////
  */

  .reviews-heading {
    // Heading for Customer Reviews
    background-color: $primary-colour;
    color: white;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 35px;
    width: 90%;
    margin-left: 5%;
  }

  .review-form-heading {
    // Heading for Review Form - Signed In and Signed Out
    text-align: center;
    background-color: $primary-colour;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 90%;
    margin: 0;
    margin-left: 5%;
  }

  .reviews-container {
    // Container for all reviews from customers
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 0;
    background-color: white;
    border: $container-border;
    box-shadow: $container-box-shadow;
    width: 90%;
    margin-left: 5%;

    p {
      font-family: "Reenie Beanie";
      color: $primary-colour;
      max-width: 80%;
      font-size: 1.7rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 30px;
      margin-bottom: 15px;
    }

    .submitted-review-stars {
      display: flex;
      align-self: flex-start;
      color: gold;
      font-size: 0.8rem;
      border: none;
      padding-left: 5px;
    }
  }

  .review-form {
    // Review form including stars for rating
    // HTML in ReviewForm.js
    padding-bottom: 15px;
    color: $primary-colour;
    background-color: white;
    border: $container-border;
    box-shadow: $container-box-shadow;
    width: 90%;
    margin-left: 5%;

    p {
      font-size: 0.7rem;
    }
    textarea {
      width: 40vw;
      padding: 20px 10px;
      margin-bottom: 15px;
      margin-left: 20px;
      margin-top: 5px;
      font-size: 1rem;
      background-color: #ffffff;
      border: $container-border;
    }
    textarea:hover {
      box-shadow: $hover-box-shadow;
    }

    .star-rating {
      display: flex;
      align-items: center;
      padding: 5px 0;
      margin-left: 20px;
    }

    .star {
      font-size: 40px;
      margin-right: 5px;
      cursor: pointer;
    }

    .star:hover {
      color: gold;
    }
    button {
      background-color: #333;
      color: white;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-family: $primary-font;
      margin-left: 20px;
    }
    button:hover {
      background-color: $primary-colour;
    }
  }

  .logged-out-review-form {
    // Alternative HTML/CSS for ReviewForm when user is not logged in
    // Heading styled in class: .review-form-heading
    text-align: center;
    border-bottom: 1px solid #333;
    .review-sign-in {
      // Sign in link in heading
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      color: white;
      border: none;
      background: none;
      cursor: pointer;
      margin: 0;
    }
    .review-sign-in:hover {
      text-decoration: underline;
    }
    p {
      // font-family: "WindSong";
      font-size: 20px;
      font-weight: 100;
      padding: 30px;
      margin: 0;
    }
  }

  .submitted-review {
    // Thank you message for submitting review
    // Option to delete review with button
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    padding: 50px 10px;
    padding-bottom: 10px;

    p {
      margin: 0;
      padding-bottom: 10px;
    }

    // 'Thank You'
    span {
      font-size: 3.5rem;
      color: $sunrise-red;
      font-family: "WindSong";
    }
    .delete-review {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      font-size: 0.7rem;
      button {
        border: 2px solid #333;
        border-radius: 10px;
        background-color: red;
        color: white;
        padding: 5px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .delete-review-confirmation {
    // Preview of user's review with option to delete or return
    text-align: start;
    padding: 30px 80px;
    border: 2px solid red;
    background-color: #ffcccb;

    h3 {
      margin: 0;
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 1.5rem;
      color: #333;
    }
    .confirmation {
      display: flex;
      .warning {
        color: red;
        padding-left: 10px;
        font-weight: 600;
      }
    }
    button {
      font-size: 1.5rem;
      width: 15%;
      margin-right: 10px;
      margin-top: 10px;
      padding: 10px;
      border: 2px solid #333;
      border-radius: 5px;
      background-color: green;
      box-shadow: $button-box-shadow;
      color: white;
      cursor: pointer;
    }
    button.danger-btn {
      background-color: $sunrise-red;
    }
    button:hover {
      background-color: #009900;
      box-shadow: none;
    }
    button.danger-btn:hover {
      background-color: red;
    }
  }

  /*
  /////////////////////////////////////////////////////////////////////////////////////////
  Section C of Contact Page: 
  Image & Book Reservation Banner
  /////////////////////////////////////////////////////////////////////////////////////////
  */

  .reservation {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5px;
    position: relative;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.9);
      font-weight: 100;
      font-size: 1.7vw;
      color: $primary-colour;
      text-transform: uppercase;
      width: 100%;
      height: 10vw;
      margin: 0;
      z-index: 1;
    }

    .plates-img {
      width: 100%;
    }
  }
}
