@import "variables";

.empty-cart {
  @media (max-width: 899px) {
    margin-top: 0;
  }

  .order-navigation-container {
    @include page-back-nav-container;
    margin-left: 0;
    margin-top: 120px;

    button.back-button {
      @include back-button;
      background-color: $background-white;
    }

    button.back-button:hover {
      text-decoration: underline;
    }

    span {
      font-size: 14px;
      margin-left: 15px;
    }

    @media (max-width: 899px) {
      display: none;
    }
  }

  button.return-to-menu {
    @include right-panel-button;
  }

  button.return-to-menu:hover {
    background-color: red;
    box-shadow: none;
  }

  .ordering-availability-notice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $sunrise-red;
    color: white;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: $grey;
    color: white;
    border-radius: 50px;
    margin-top: 100px;
    h2 {
      font-weight: 600;
    }
    p {
      font-weight: 100;
      margin-top: 30px;
    }
    .menu-link {
      margin: 0 5px;
      border-radius: 10px;
      border: none;
      font-family: $primary-font;
      cursor: pointer;
    }
    @media (max-width: 899px) {
      margin-top: 0;
      border-radius: 0;
      height: calc(100vh - 100px);
      justify-content: flex-start;
      padding-top: 100px;
    }
  }
}
