@import "variables";

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 70px;
  color: #fff;
  padding-bottom: 5px;
  padding-left: 14.5px; // right gap fill max-width 899px
  width: 100%;
  font-family: $primary-font;
  background-color: $lighter-colour;

  .home-icon {
    width: 45px;
    height: 55px;
    padding-left: 30px;
  }

  .content-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 56.5%;
    margin-right: 50px;
    margin-left: 20px;
    padding-bottom: 3px;
    p {
      margin: 0;
      font-weight: 100;
    }

    .contact-container {
      display: flex;
      flex-direction: column;
      a {
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    .notices-container {
      font-size: 0.7rem;
      text-align: center;
      @media (max-width: 899px) {
        font-size: 8px;
      }
    }

    .connect-container {
      text-align: center;
    }
  }

  @media (max-width: 899px) {
    font-size: 8px;
  }
}
