@import "variables";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #333;
  border-bottom: 2px solid $primary-colour;

  // Pho Sunserise Viet-Thai Restaurant
  .heading {
    display: flex;
    width: 60vw;
    margin-top: 40px;
    position: relative;

    .restaurant-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: start;
      color: white;
      background-color: $primary-colour;
      height: 180px;
      width: 100%;
      margin-top: 30px;
      margin-left: 200px;
      padding-left: 50px;
      border: 7px solid $light-colour;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      h1 {
        font-size: 5vw;
        margin: 0;
        padding-top: 20px;
        text-shadow: -4px 3px 2px rgba(0, 0, 0, 0.68);
      }
      h2 {
        font-size: 2vw;
        padding: 0;
        text-shadow: -3px 1px 2px rgba(0, 0, 0, 0.62);
      }
    }
    .circle-container {
      display: flex;
      justify-content: center;
      background-color: $secondary-colour;
      width: 250px;
      height: 250px;
      border-radius: 100%;
      position: absolute;
      box-shadow: -13px 12px 18px 1px rgba(0, 0, 0, 0.75);

      img {
        padding-top: 15px;
        width: 170px;
        height: 210px;
      }
    }
  }

  // Phone Number | Address
  // Offering ...
  .restaurant-details-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    color: white;
    width: 90%;
    .restaurant-details {
      display: flex;
      justify-content: center;
      p {
        font-size: 2vw;
        font-weight: 100;
        margin: 0;
        margin-bottom: 15px;
      }
      span {
        font-size: 2vw;
        width: 10%;
      }
    }
    span {
      font-size: 1.1vw;

    }
  }

  @keyframes shrimpAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(210deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  // Button and left/right shrimp
  .takeout-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 0 40px;
    .shrimp {
      animation: shrimpAnimation 8s linear infinite;
      width: 5vw;
      padding: 0 20px;
    }

    button {
      margin: 5vh 2vw;
      padding: 15px 40px;
      font-size: 3vw;
      border: none;
      background-color: $sunrise-red;
      color: white;
      border-radius: 50px;
      font-family: $order-takeout-button-font;
      box-shadow: $order-takeout-button-box-shadow;
      cursor: pointer;
    }

    button:hover {
      background-color: red;
      box-shadow: $hover-box-shadow;
    }
  }

  // OPEN Hours + Boba Drink
  .restaurant-hours {
    width: 90%;
    height: 30vw;
    // padding: 10px;
    // border-radius: 30px;
    // background-color: white;
  }

  // Chef image and Chef's Special
  .chefs-choice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 30px 0;
    color: white;
    
    .chef {
      width: 15vw;
    }
    
    h2 {
      font-family: $cursive-font;
      font-size: 4vw;
      padding-bottom: 10px;
      margin-top: 30px;
      color: $sunrise-red;
    }
    .choice {
      display: flex;
      flex-direction: column;
      .name {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1.5vw;
      }
      .price {
        font-family: $cursive-font;
        font-size: 5vw;
      }
    }
  }
}
