@import "variables";

.menu-sections {
  .menu-dropdown-nav {
    @media (min-width: 899px) {
      display: none;
    }

    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    margin-top: 140px;
    width: 100%;
    background-color: $primary-colour;
    transition: 1.5s ease;

    ul {
      padding-left: 0;
      text-align: end;
      button {
        display: flex;
        flex-direction: column;
        font-size: 3.5vw;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 10px 5px;
        width: 100%;
        border: none;
        background-color: $primary-colour;
        transition: background-color 0.5s ease;
      }
      button:hover {
        background-color: white;
        color: $primary-colour;
      }
    }
  }
}
