@import "variables";

.menu-sections {
  width: 95%;
  margin-left: 5%;
  @media (max-width: 899px) {
    margin: 0;
    width: 100%;
  }
  .section-heading {
    margin-bottom: 10px;
    h2.section-name {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      margin: 0;
      background-color: $logo-dark-green;
      color: white;
      font-weight: 100;
      text-shadow: -2px 2px 2px #000000;
      font-weight: 400;
      padding-bottom: 0;
    }
  }
}
