@import "variables";

.menu-item {
  display: flex;
  flex-direction: column;

  .item-name {
    background-color: $lighter-colour;
    color: white;
    padding: 2px 80px;
    font-size: 14px;

    h3.english-name {
      margin: 0;
      font-family: $primary-font;
      font-weight: 400;
    }
    h3.vietnamese-name {
      margin: 0;
      font-family: $primary-font;
      font-weight: 100;
      font-style: italic;
    }
  }

  .item-options {
    font-size: 14px;
    .option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      padding-left: 80px;
      padding-right: 150px;
      background-color: #dbe0e0;
      color: $secondary-colour;
      font-weight: 400;
      transition: background-color 0.3s ease;
      .details {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      @media (max-width: 899px) {
        padding-left: 40px;
      }

      button {
        // margin: 0 20px;
        padding: 3px 15px;
        color: white;
        cursor: pointer;
        // background-color: $light-colour;
        background-color: $primary-colour;
        background-color: #333;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-family: $primary-font;
        font-weight: 400;
      }
      button:hover {
        // background-color: #455251;
        background-color: $secondary-colour;
        background-color: black;
      }
      .quantity-added-container {
        width: 2.5vw;
        .quantity-added {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 18px;
          p.count {
            font-weight: 400;
            margin: 0;
          }
        }
      }
    }
    .option:hover {
      background-color: #e2e6e6;
    }
  }
}
