@import "variables";

.menu {
  background-color: #333;
  color: white;
  font-weight: 100;
  border-bottom: 2px solid $primary-colour;

  .pho-sunrise-menu-banner {
    width: 100%;
    margin-top: 10px;
  }

  .menu-index {
    width: 220px;
    margin-top: 74px;
    margin-bottom: 200px;
    height: 78.5vh; /* Set the height to 100% of the viewport height */
    position: fixed; /* Set the menu-index to a fixed position */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left of the viewport */
    background-color: white;
    ul {
      padding-left: 0;
      text-align: end;
    }
    a {
      width: 100%;
      color: $primary-colour;
      padding: 15px 0;
      padding-right: 10px;
      font-weight: 600;
      background-color: $lighter-colour;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:hover {
      background-color: white;
      text-decoration: none;
    }
  }

// SECTION HEADINGS
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    // margin-top: 70px;
    margin-bottom: 0;
    background-color: $primary-colour;
    text-shadow: -2px 2px 2px #000000;
    box-shadow: $button-box-shadow;
  }

  // ITEM HEADINGS
  .menu-section {
    // margin: 0 10%;
    // margin-top: 15px;
    h3 {
      font-size: 20px;
      margin: 0;
      background-color: $lighter-colour;
      padding: 10px 80px;
    }

    h3.english-section-title {
      font-weight: 400;
      padding-bottom: 0;
      text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.82);
    }
    h3.vietnamese-section-title {
      font-family: "Montserrat";
      font-weight: 100;
      font-style: italic;
      padding-top: 0;
    }
  }

  .menu-item {
    display: flex;
    background-color: #dbe0e0;
    color: $secondary-colour;

    .item-options {
      font-size: 20px;
      width: 75%;
      .option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: end;
        // background-color: $lighter-colour;
        // background-color: orange;
        // border-bottom: .5px solid white;
        padding: 5px 80px;
      }
    }
    .option-actions {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 10px;
      // background-color: pink;
      button {
        margin: 0 20px;
        padding: 5px 9px;
        color: white;
        cursor: pointer;
        border: 0.5px solid white;
        background-color: $secondary-colour;
        background-color: $sunrise-red;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-family: $primary-font;
        font-weight: 100;
      }
      button:hover {
        background-color: $lighter-colour;
        background-color: red;
      }
    }
  }
}
