@import "variables";

.menu {
  // background-color: #333;
  color: white;
  margin-top: 140px;
  // border-bottom: 2px solid $primary-colour;

  button.review-order {
    @include right-panel-btn;
  }

  button.review-order:hover {
    background-color: red;
    box-shadow: none;
  }

  @media (min-width: 900px) {
    .menu-index {
      width: 20vw;
      margin-top: 74px;
      margin-bottom: 200px;
      height: 78.5vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      font-size: 0.9rem;
      ul {
        padding-left: 0;
        text-align: end;
      }
      a {
        width: 100%;
        color: white;
        padding: 15px 0;
        padding-right: 10px;
        font-weight: 600;
        background-color: $primary-colour;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color 0.5s ease;
      }
      a:hover {
        // background-color: $lighter-colour;
        background-color: white;
        color: $primary-colour;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 899px) {
    .menu-index {
      display: none;
    }
  }

  .menu-nav {
    @media (min-width: 899px) {
      display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #333;
    // background-color: pink;

    button.subnav-toggle {
      @include menu-sections-btn;
      @media (min-width: 899px) {
        display: none;
      }
      display: flex;
      padding: 0 20px;
  
      .caret-icon {
        margin: 0 10px;
      }
    }
    button.scroll-button {
      @include menu-sections-btn;
    }
    button.scroll-button {
      @include menu-sections-btn;
    }
  }


  // SECTION HEADINGS
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 0;
    background-color: #333;
    font-weight: 100;
    text-shadow: -2px 2px 2px #000000;
  }

  // ITEM HEADINGS
  .menu-section {
    // margin: 0 10%;
    // margin-top: 15px;
    h3 {
      font-size: 18px;
      margin: 0;
      background-color: $lighter-colour;
      padding: 20px 80px;
      padding-bottom: 10px;
      @media (max-width: 899px) {
        padding-left: 40px;
      }
    }

    h3.english-section-title {
      font-weight: 400;
      padding-bottom: 0;
      color: $primary-colour;
    }
    h3.vietnamese-section-title {
      font-family: "Montserrat";
      font-weight: 100;
      font-style: italic;
      padding-top: 0;
    }
  }

  .menu-item {
    display: flex;
    ///////////////////// TEST IMAGE
    .test {
      width: 25%;
      background-color: pink;
    }

    .item-options {
      font-size: 16px;
      width: 75%;
      .option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: end;
        padding: 5px 80px;
        background-color: #dbe0e0;
        color: $secondary-colour;
        font-weight: 400;
        transition: background-color 0.3s ease;
        @media (max-width: 899px) {
          padding-left: 40px;
        }
      }
      .option:hover {
        background-color: #e2e6e6;
        // transition: background-color 0.3s ease;
      }
      .option-actions {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 10px;
        // background-color: pink;
        button {
          margin: 0 20px;
          padding: 5px 15px;
          color: white;
          cursor: pointer;
          border: 0.5px solid white;
          background-color: $light-colour;
          // background-color: #333;
          border: none;
          border-radius: 10px;
          font-size: 16px;
          font-family: $primary-font;
          font-weight: 400;
        }
        button:hover {
          background-color: #455251;
        }

        .quantity-added-container {
          width: 2vw;
          .quantity-added {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 5vw;
            // background-color: lightblue;
            .count {
              font-weight: 400;
              font-size: 16px;
              margin: 0;
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
}
