.menu-section {
  margin-bottom: 20px;
}

.section-content {
  display: flex;
  align-items: flex-start;
}

.section-image {
  max-width: 300px; /* Adjust the max width as needed */
  max-height: 300px; /* Adjust the max height as needed */
  margin-right: 20px; /* Add spacing between image and items */
}

.menu-items {
  flex-grow: 1;
}
