nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0; 
  left: 10px; /* Add left margin */
  width: calc(100% - 20px); /* Adjust width */
  z-index: 100;
  font-family: Neucha, sans-serif;
  height: 12vh;
}


ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
