@import "variables";

// Customer Info section of checkout form: items, price, subtotal
.order-summary {
  @include summary-conatiners;
  width: 40%;
  margin-top: 50px;

  @media (max-width: 899px) {
    width: 90%;
    margin-top: 0;
  }
  @media (max-width: 600px) {
    width: 82%;
  }

  p {
    font-weight: 500;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
    margin-bottom: 0;

    li {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      .items {
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding-bottom: 10px;
        .info {
          width: 85%;
          margin-right: 5px;
        }
        .price {
          width: 5%;
          margin-left: 5px;
        }
      }
    }
  }

  .subtotal {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    .info {
      width: 85%;
      margin-right: 5px;
    }
    .price {
      width: 5%;
      margin-right: 6px;
    }
  }
}