@import 'variables';

.summary-and-form-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 0 20px;
  padding-bottom: 50px;

  @media (max-width: 899px) {
    flex-direction: column;
  }

  .form-container {
    padding-right: 15px;
    margin-right: 20px;

    .order-form {
      p {
        font-weight: 600;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 25px;
      }
      input {
        width: 100%;
        height: 30px;
        border: 0.5px solid blue;
        background-color: #ffffff;
        border-radius: 7px;
        padding: 7px;
        font-size: 18px;
      }
      input::placeholder {
        background-color: #ededed;
        color: #ededed;
      }
      input:hover {
        box-shadow: $hover-box-shadow;
      }
      label {
        display: block;
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 2px;
      }
      textarea {
        width: 100%;
        border: 0.5px solid blue;
        border-radius: 7px;
        padding: 7px;
        // border: $container-border;
      }

      // Proceed to Payment button
      button {
        background-color: $button-colour;
        color: silver;
        font-family: $primary-font;
        font-weight: 200;
        font-size: 16px;
        padding: 10px;
        margin-top: 30px;
        border: 1px solid silver;
        border-radius: 10px;
        box-shadow: $button-box-shadow;
        cursor: pointer;
      }
      button:hover {
        background-color: blue;
        box-shadow: none;
      }
    }
  }
}
