@import "variables";

.overlay {
  background-color: #333;
  opacity: 95%;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.remove-item-from-cart {
  @include confirmation-container;

  .close-button {
    @include close-button;
  }
  .close-button:hover {
    @include close-button-hover;
  }

  .confirmation-message {
    font-size: calc(16px + 0.8vw);
    // text-align: center;

    p {
      margin: 20px 0;
      font-weight: 300;
    }
    p.message {
      text-transform: uppercase;
      font-weight: 700;
    }
    p.item-info-container {
      margin-bottom: 5px;
      span.item-info {
        font-weight: 500;
      }
    }
    p.item-option {
      font-size: calc(12px + 0.2vw);
      margin: 0;
    }
  }

  .button-options {
    margin-top: 10px;
    button.safe-button {
      @include confirmation-button;
    }
    button.safe-button:hover {
      @include safe-button-hover;
    }

    button.danger-button {
      @include confirmation-button;
      background-color: $sunrise-red;
    }
    button.danger-button:hover {
      @include danger-button-hover;
    }
  }
}
