@import "variables";

.overlay {
  background-color: #333;
  opacity: 95%;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.remove-item-from-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 60%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid $grey;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.56);
  padding: 0 30px;

  .close-button {
    @include close-button;
  }
  .close-button:hover {
    @include close-button-hover;
  }

  .confirmation-message {
    text-align: center;
    font-size: calc(16px + .8vw);
    
    p {
      margin: 20px 0;
    }

    p.remove-text {
      color: red;
      text-transform: uppercase;
      font-weight: 800;
    }
    p.item-info-container {
      margin-bottom: 5px;
      span.item-info {
        font-weight: 600;
      }
    }
    p.item-option {
      font-size: calc(12px + .2vw);
      margin: 0;
    }
  }

  .button-options {
    margin-top: 10px;
    button.safe-button {
      @include confirmation-button;
    }
    button.safe-button:hover {
      @include safe-button-hover;
    }
  
    button.danger-button {
      @include confirmation-button;
      background-color: $sunrise-red;
    }
    button.danger-button:hover {
      @include danger-button-hover;
    }
  }
}
