@import "variables";

.overlay {
  background-color: #333;
  opacity: 95%;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.remove-item-from-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 60%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid $grey;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.56);

  .close-button {
    @include close-button;
  }
  .close-button:hover {
    @include close-button-hover;
  }
}