@import 'variables';

// Animations to slide navigation links into focus
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.sidenav {
  display: none;

  @media (max-width: 899px) {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    transition: 0.5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      padding: 10px 5px;
      text-transform: uppercase;
      background-color: $lighter-colour;
      color: white;
      text-decoration: none;
    }
    a:hover {
      background-color: #dbe0e0;
      color: $primary-colour;
    }
  }
}