@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,600&display=swap");

.main-body {
  width: 70vw; /* 80% of the viewport width */
  max-width: 1200px; /* Maximum width for larger screens */
  margin: 20vh auto; /* Center the container horizontally */
  font-family: "Montserrat";
  font-size: 16px;

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-weight: lighter;
    font-size: 2rem;
    padding: 5px;
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    margin: 15px;
  }

  li {
    display: flex;
    align-items: center;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  textarea {
    font-family: "Montserrat";
  }

  textarea::placeholder {
  font-family: "Montserrat";
  }
}

// button {
//   cursor: pointer;
//   border-radius: 50px;
//   text-transform: uppercase;
//   font-family: "Unbounded";
//   background-color: #02054a;
//   color: white;
//   border: 3px solid silver;
// }

// button:hover {
//   background-color: #000067; /* Change background color on hover */
// }

