// Primary Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
// Font for: Reviews from customers on contact page
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
// Cursive Font for: 'Thank You' in submitted review form on contact page
@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
// Font for: ORDER TAKEOUT button on home page
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
// Other
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Unbounded:wght@200;500;600&display=swap");

body {
  // background-color: #FAF9F6;
  // background-color: #FAFAFA;
  // background-color: #f8f8ff;
  // background-color: #f2f3f4;
  // background-color: whitesmoke;

  // -- BEST OFF WHITE
  background-color: #fdfcfa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-body {
  flex: 1;
  width: 70vw;
  max-width: 1200px;
  margin: auto;
  margin-top: 13vh;
  // margin-bottom: 0;
  font-family: "Montserrat";
  font-size: 16px;

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-weight: lighter;
    font-size: 2rem;
    padding: 5px;
  }

  h3 {
    font-size: 1rem;
    margin: 15px;
  }

  li {
    display: flex;
    align-items: center;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  label {
    font-family: "Montserrat";
  }

  input {
    font-family: "Montserrat";
  }

  textarea {
    font-family: "Montserrat";
  }

  textarea::placeholder {
    font-family: "Montserrat";
  }
}